.dropdown-menu>li.user-header>img
					{
						z-index:5;
						height:122px;
						width:122px;
						border:3px solid;
						border-color:transparent;
						border-color:#e9e9e9;
						float:left;
					}

					#user>.dropdown-menu
					{
    				width: 500px !important;
    				height: 350px !important;
					}
					.dropdown-menu>li.user-footer
					{
						background-color:#f4f4f4;
					}
					/* #wgtmsr{
 					width:350px;
					}

					#wgtmsr option{
 					width:100px;
					} */

					div#recog-heading{
						background:#1ab188;
						border:1px solid #1ab188;
						height:38px;
						color: #fff;
					}

					/* #wgtmsr image {
					    position:relative;
					    right:0px;
					    padding:0 5px;
					    margin:0;
					  }

					#wgtmsr img {
					    display: block;
					    margin-left: auto;
					    margin-right: auto;
							margin-top: 10px;
							margin-bottom: auto;
					} */

					.buttonhover1:hover {
					    background-color: #555555;
					    color: white;
							img src: url("assets/icon_dashboard_hover.png");
							text-shadow: 1px 1px 10px white;

							-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							-ms-transition: all 0.3s ease-in-out;
							-o-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
					}

					.buttonhover1:hover img{
						url(assets/icon_dashboard_hover.png" class="hover);
					}


					.top-buffer
					{
						 margin-top:20px;
					  }

						.center1
						{
							/*margin: auto;
					    width: 50%;
					    border: 3px;
					    padding: 10px;*/
							padding: 0px 0;
					    border: 0px;
					    text-align: center;
						}

						a:hover, a:visited, a:link, a:active
					{
					    text-decoration: none;
					}
					.modal .modal-dialog { width: 50%; }
				 .modal-body {
				     /* 100% = dialog height, 120px = header + footer */
				     max-height: calc(100% - 80px);
				     overflow-y:auto;
				 }
				 #myModal {
					 top:7%;
					 left:49%;
					 outline: none;
				 }

				 table td {
				     border-top: none !important;
				 }
				 .table th, .table td {
				      border-top: none !important;
				  }
				  modal.close {display: none;}
				  .fa-lightbulb-o:hover {
					    color: yellow;
					}
				  .MainLogo{
				  width:120px;
				  padding-right:13;
				  margin-top: 18px;
				  margin-left:58px;
				  }
				  .MainHeader{
				  	width:425px;
				  	margin-top: 21px;
				  	margin-left:12px;
				  }
				  .userInfoIcon{
				  	height:45px; 
				  	weight:45px;
				  }
				  .userInfoPic{
				  	height:100px; 
				  	weight:100px;
				  }
				  .wallOfFamePost{
				  	width:50px; 
				  	height:50px;
				  }
				  .sideBatchPic{
				  height:90px; 
				  weight:90px;
				  }
				  .batchListPic{
				  	height:100px; 
				  	weight:100px;
				  }
				  .navbar-header{
				  height:70px;
				  }
				  .navbar-collapse{
				  margin-top: 10px;
				  }
