<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>index</title>

<!-- jQuery -->
	<script src="js/jquery-2.2.4.min.js"></script>
<!-- jQuery auto complete -->
	<script src="js/jquery.autocomplete.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />

	<link rel="stylesheet" href="css/index.css" />

<script>
	
  	$(document).ready(function() {
  		$('#searchMembers').autocomplete({
  			serviceUrl:'/getMembers',
  			paramName: "name",
  			delimiter: ",",
  		    transformResult: function(response) {
  		        return {
  		            suggestions: $.map($.parseJSON(response), function(item) {
  		                return { value: item.name+" ,   "
 		                	 + item.email,
 		                	 data: item.email };
  		                	
  		            })
  		            
  		        };
  		        
  		    }
  		    
  		});
  		
  	});
 
  	</script>
  	
  	<script type="text/javascript">
  	
  	  	
  	$(document).ready(function(){
  	    $('.subButton').attr('disabled',true);
  	    $('#searchMembers').keyup(function(){
  	        if($(this).val().length !=0)
  	        	 $('.subButton').attr('disabled', false);            
  	        else
  	        	 $('.subButton'.attr('disabled',true);
  	    })
  	}); 
  	
  	</script>

</head>
   <body style="background-color:#f6fbff">
  
      <div class="row no-gutter">
         <nav class="navbar navbar-default" role="navigation" style="background: #45bfbb;">
            <div class="navbar-header" >
              <a href="/"><img src="images/friendlier.png" style="height: 50px; margin-left: 40px; margin-top: 15px;" /> </a> 
              <img src="images/sociable.png" style="height: 35px; margin-top: 35px;" />
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
               		<span class="sr-only">Toggle navigation</span>
               		<span class="icon-bar"></span>
               		<span class="icon-bar"></span>
               </button>
           	</div>
            <div class="collapse navbar-collapse pull-right" id="myNav">
               <ul class="nav navbar-nav">
                  <li class="buttons">
                     <a href="/home">
                        <i class="fa fa-tachometer fa-lg" aria-hidden="true"></i>
                        <!-- <img src="assets/icon_dashboard_hover.png" class="hover"> -->
                        <b>Home</b>
                     </a>
                  </li>
                  <li class="buttons buttonhover2">
                     <a href="badge">
                     <span class="fa-stack">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
                     </span>
                     <b>Profile</b>
                     </a>
                  </li>
                  <li class="buttons buttonhover3">
                     <a href="#">
                        <i class="fa fa-wpforms fa-lg" aria-hidden="true"></i>
                        <b>Friends</b>
                     </a>
                  </li>
                  <li class="buttons">
                     <a href="messages">
                        <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <b>Messages</b>
                     </a>
                  </li>
               </ul>
               <!-- code for user profile button and dropdwon -->
                  <div class = "dropdown pull-right">
                 	 <a class = "btn dropdown-toggle" id = "dLabel" data-toggle="modal" href="#myModal" data-direction='top-right'>
                        <img class="userInfoIcon img-rounded" src="images/myimage.jpg"/>
                     </a>
                     <div class="modal right fade modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-body">
                                 <h4>Your Profile</h4>
                                 <img class="userInfoPic pull-left img-rounded" src="images/myimage.jpg"/>
                                  <div class="pull-left" style = "padding-left:10px;">
                                    
										Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <strong th:text="${session.loggedInUser.name}">name</strong><br />
										Email-ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${session.loggedInUser.getEmail()}"></span> <br />
										Role &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${session.loggedInUser.getRole()}"></span> <br />
                                    	Phone No.&nbsp;&nbsp;:<span th:text="${session.loggedInUser.getPhone()}"></span> <br /> 
                                    
                                 </div>  
                              </div>
                              <div class="modal-footer">
                                 <a class=" btn pull-right" href="/logout">Logout</a>
                              </div>
                           </div>
                           <!-- modal-content -->
                        </div>
                        <!--modal-dialog -->
                     </div>
                     <!-- modal -->
                  </div>
            </div>
         </nav>
      </div>
	
		<!-- main body -->
      <!-- karma section -->
   <div class="container-fluid">
	  <div class="col-sm-7 col-md-7 col-lg-9">
         <div class="row">
         </div>
         <div class="col-sm-12">
            <div class="panel panel-default">
               <div class="panel-heading" id="recog-heading" >
                  <img class="recognizeKarmaIcon" src="images/icon_badge.png"/>
                  
                  &nbsp;&nbsp;&nbsp;&nbsp;<b>What's on your mind</b>
               </div>
               <form action = "/status" method="post">
                  <div class="panel-body" style="background: #435159;">
                     <div class="row">
                        <div class="col-sm-12">
                        	<div class="form-group">
                              <textarea  rows="6" class="form-control" id="reason" name ="content" style="background: #a0a9af;"></textarea>
                              </div>
                        </div>
                     </div>
                  </div>
                  <div class="panel-footer" style="background: #24313c;">
                     <div class="row">
                        <div class="col-sm-12">
                           <input type="submit" value = "update" class="btn btn-primary recogbt" style="background: #1ab188;"/>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <!-- end karma -->
            <!-- wall of fame -->
            <div class="panel panel-default">
               <div class="panel-heading" style="background: #1ab188;">
                  <div class="row">
                     <div class="col-lg-3" >
                        <i class="fa fa-list-alt fa-2x" aria-hidden="false"></i> &nbsp;<font color="white">News Feed</font>
                     </div>
                  </div>
               </div>
               <div class="panel-body">
                  <div class="row" style="padding-top: 20px;">
		              <div  th:each="post:${feeder}">
			            <div class="col-xs-12" >
			            	<div class="col-xs-2 " style = "text-align: center;">
			                   <img class="imager wallOfFamePost img-rounded" src="/images/myimage.jpg"/>
			                </div>
			                <div class="col-xs-10 ">
						       <strong th:text="${post.writerName}" > </strong> <br/>
						       <label th:text="${post.content}"></label><br/> 
						       Date : <i th:text="${post.contentDate}"></i><hr>  </hr>
			            	</div>
			            </div>
		            	<hr/>
		            </div>  
                     
                  </div>
               </div>
            </div>
            <!-- end wall of fame -->
         </div>
      </div>
  		
  	<div class="col-lg-3 col-sm-5 col-md-5 ">
  	
  	<!-- <input type="text" name="user" class="form-control" id="searchMembers1" placeholder="Select a newer"/> -->
  	<div class="row">
	     <div class="panel-body">
              <form class="form-inline" role="form" method="post" action="/findUser">
                  <div class="form-group">
                      <input type="text" name="name" id = "searchMembers" placeholder = "search members" class="form-control" required="required" />
                      <input type="submit" value = "Search" class="btn btn-default subButton" data-toggle="modal" data-target="#memberModal"/>
                  </div>
               </form>
	       </div>  	
        <div class="modal fade" id="memberModal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div> -->
        <div class="modal-body">
          <img class="userInfoPic pull-left img-rounded" src="images/myimage.jpg"/>
          <div class="pull-left" style = "padding-left:10px;">
                                    
										Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <strong th:text="${session.sUser.name}">name</strong><br />
										Email-ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${session.sUser.getEmail()}"></span> <br />
										Role &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${session.sUser.getRole()}"></span> <br />
                                    	Phone No.&nbsp;&nbsp;:<span th:text="${session.sUser.getPhone()}"></span> <br /> 
                                    
                                 </div>  
          
        </div>
        <div class="modal-footer">
       		<a href="user"><button type="button" class="btn btn-info pull-left">View Profile</button></a>
    		<a href="addFriend"><button type="button" class="btn btn-success pull-left" >Add Friend</button> </a> 
        	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
	    </div>
	  </div>
	</div>
  			<!-- <div class="panel-body">
	  			<div class="input-group">
	     		    <span class="input-group-addon">
	      		      <i class="fa fa-search"></i>
	      			</span>
	         		 <input type="text" id = "searchMembers" placeholder = "Search members" class="form-control"/>
	         	</div>
	       
	      </div> -->
	  
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading" id="badges-heading" style="background: #1ab188;" >
                <img class="recognizeKarmaIcon" src="images/icon_badge.png"/>
                &nbsp;&nbsp;&nbsp;&nbsp;<font color="white">Me</font>
            </div>
			<div class="panel-body">
				<div class="col-xs-5">
					<div class="row">
						<img class="sideBatchPic img-rounded" src="images/myimage.jpg"/>
					</div>		
				</div>
				<div class="col-xs-7">
					<div class="row">
						<!-- <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> ${loggedInUser.getEmployeeName()} </b></a><br/> -->
						<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Ishwar Mani Thapa </b></a><br/>
					</div>
						 <div class="row">
							<div>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Friends</i>
							</div>
							<div>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Mention in Posts</i>
							</div>
							<div>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>settings</i>
							</div>
						</div> 
				</div>
	 		</div>
 		</div>
 	</div>
 	<!-- Requests list will be displayed here -->
 	
 	<div class="row">
 		<div class="panel panel-default">
 			<div class="panel-heading" id="badges-heading" style="background: #1ab188;" >
                <img class="recognizeKarmaIcon" src="images/icon_badge.png"/>
                &nbsp;&nbsp;&nbsp;&nbsp;<font color="white">Friends(<span th:text="${session.loggedInUser.getFriendCount()}"></span>)</font>
            </div>
            <div class="panel-body">
            <div class="row">
            	
              <div  th:each="frnds:${friends}">
            	<div class = "panel-body">
            		<div class="col-xs-5">
						<div class="row">
							<img class="sideBatchPic img-rounded" src="images/myimage.jpg"/>
						</div>		
					</div>
					<div class="col-xs-7">
						<div class="row" style="padding-bottom:5px">
							<a href="#">&nbsp;&nbsp;<strong th:text="${frnds.name}" > </strong></a><br/>
						</div>
						<div class="row">
							<form >
								<div style="padding-bottom:5px">
									<!-- th:href = "@{/acceptRequest/} + ${fReq.id}" inside <a> tag below-->
									<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#messageModal">Message</button>
								
	        						<a href ="user"><button type="button" class="btn btn-info btn-sm" >View Profile</button></a>
	        					</div>
        					</form>
        					
						</div>
					</div>
					<div class="modal fade" id="messageModal" role="dialog" data-keyboard="false" data-backdrop="static">
       					<div class="modal-dialog">
    
     						 <!-- Modal content-->
      						<div class="modal-content">
      							<div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title">Message</h4>
							    </div>
							    <form th:action="@{/sendMessage/} + ${frnds.id}" method="post">
	        						<div class="modal-body">
	          							<strong th:text="${frnds.name}">name</strong><br />
										<textarea  rows="4" class="form-control" name ="message" style="background: #a0a9af;"></textarea> 
	        					   	</div>
							        <div class="modal-footer">
							       		<a href="user"><button type="submit" class="btn btn-info pull-left">Send Message</button></a>
							        	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							        </div>
						        </form>
      					   </div>
      
	    </div>
	  </div>
            	</div>
            </div>	
 
            </div>
	 		</div>
 		</div>

 	</div>
 	<div class="row">
 		<div class="panel panel-default">
 			<div class="panel-heading" id="badges-heading" style="background: #1ab188;" >
                <img class="recognizeKarmaIcon" src="images/icon_badge.png"/>
                &nbsp;&nbsp;&nbsp;&nbsp;<font color="white">Requests and Suggestions</font>
            </div>
            <div class="panel-body">
            <div class="row">
            	
              <div  th:each="fReq:${friendRequests}">
            	<div class = "panel-body">
            		<div class="col-xs-5">
						<div class="row">
							<img class="sideBatchPic img-rounded" src="images/myimage.jpg"/>
						</div>		
					</div>
					<div class="col-xs-7">
						<div class="row" style="padding-bottom:5px">
							<a href="#">&nbsp;&nbsp;<strong th:text="${fReq.name}" > </strong></a><br/>
						</div>
						<div class="row">
							<form >
							<div style="padding-bottom:5px">
								<a th:href = "@{/acceptRequest/} + ${fReq.id}"><button type="button" class="btn btn-success btn-xs">Accept Request</button></a>
    							<a href = "decline"><button type="button" class="btn btn-danger btn-xs" >Decline</button></a>
							</div>
        					<a href ="user"><button type="button" class="btn btn-info " >View Profile</button></a>
        					</form>
						</div>
					</div>
            	</div>
            </div>	
 
            </div>
	 		</div>
 		</div>

 	</div>
 	</div>	
 	 </div>
   </body>
</html>