<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>index</title>
<meta name="description" content="makes-the-world-a-friendlier-place"></meta>

<!-- jQuery -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/bootstrap.min.js"></script>
<!-- Previewing image before it gets upload -->
<script class="jsbin"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" />

<link
	href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/index.css" />
</head>
   <body style="background-color:f6fbff">
    <!--   <div class="modal fade" id="myModalload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" width="5px">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header" style="background-color: #f1f1f1">
                  <div class="pull-left">
                     <h4>Karma Guideline</h4>
                  </div>
                  <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Read later</button>
               </div>
               <div class="modal-body">
                  Please review the updated Karma Guidelines before making a recognition.<br><br>
                  <strong>Knowledge Participation</strong> - Reporting Manager\ Practice Head\ Service Line Head\ Session Owners\ Learning &amp; Development team can recognize Newers for practical application of learnings from a Formal Course\ Learning session attended.<br><br>
                  <strong>Knowledge Sharing</strong> - Recognize any Newer for sharing their Knowledge through a formal learning session like IntelliMeet, Knowledge Sharing Sessions etc.<br><br>
                  <strong>Protégé</strong> - Recognize Mentees\ Direct Reports for their effort and performance, initiative on the job, positive attitude etc.<br><br>
                  <strong>Mentorship</strong> - Recognize Mentor\Reporting Manager for their guidance and support in projects\career path, motivating in tough situations, leading by example etc.<br><br>
                  <strong>Pat on the back</strong> - Recognize Newers for a job well done. Give details of the task\activity.<br><br>
                  <strong>Extra Miler</strong> - Recognize a Newer for going above &amp; beyond the call of duty to help achieve organizational objectives pertaining to customer satisfaction, product value add, increased quality standards etc.<br><br>
                  <strong>For detailed guidelines, <a href="guideline.html">click here</a></strong>
               </div>
               <div class="modal-footer">
                  <label for="guideline" class="pointer"><input class="pointer" type="checkbox" id="guideline" onchange="guidelineRead(this);">&nbsp;&nbsp;I have read
                  </label>
                  <button type="button" class="btn" data-dismiss="modal">ok</button>
               </div>
            </div>
         </div>
      </div> -->
      <div class="row no-gutter">
         <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header" >
              <a href="/"><img src="images/friendlier.png"
				style="height: 50px; margin-left: 40px; margin-top: 15px;" /></a> <img
				src="images/sociable.png" style="height: 35px; margin-top: 35px;" />
               <div class="collapse navbar-collapse pull-right" id="myNav1">
                  <img class="MainHeader"
                  src="/resources/images/text_header.png"/>
                  
               </div>
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            </div>
            <!-- <a class="navbar-brand"><img src="assets/text_header.png" /></a> -->
            <div class="collapse navbar-collapse pull-right" id="myNav">
               <ul class="nav navbar-nav">
                  <li class="buttons">
                     <a href="#">
                        <i class="fa fa-tachometer fa-lg" aria-hidden="true"></i>
                        <!-- <img src="assets/icon_dashboard_hover.png" class="hover"> -->
                        <b>Dashboard</b>
                     </a>
                  </li>
                  <li class="buttons buttonhover2">
                     <a href="badge">
                     <span class="fa-stack">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
                     </span>
                     <b>Badges</b>
                     </a>
                  </li>
                  <li class="buttons buttonhover3">
                     <a href="#">
                        <i class="fa fa-wpforms fa-lg" aria-hidden="true"></i>
                        <!-- <img src="assets/icon_dashboard_hover.png" class="hover"> -->
                        <b>Certificate</b>
                     </a>
                  </li>
                  <li class="buttons">
                     <a href="#">
                        <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <!-- <img src="assets/icon_dashboard_hover.png" class="hover"> -->
                        <b>Idea</b>
                     </a>
                  </li>
                  <!-- code for user profile button and dropdwon -->
                  <div class = "dropdown pull-right">
                     <li class = "btn dropdown-toggle" id = "dLabel" data-toggle="modal" href="#myModal" data-direction='top-right'>
                        <img class="userInfoIcon img-rounded"
                        src="images/myimage.jpg"/>
                       
                     </li>
                    
                     <div class="modal right fade modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" width="5px">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-body">
                                 <h4>Your Profile</h4>
                                 <img class="userInfoPic pull-left"
                                 src="images/myimage.jpg"/>
                                 <div class="pull-left">
                                    Newer Name :  ${loggedInUser.getEmployeeName()}<br/>
                                   
                                    Service Line &nbsp;: ${loggedInUser.getServiceLine()}<br/>
                                    Practice&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ${loggedInUser.getPractice()}<br/>
                                    Email-ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ${loggedInUser.getEmail()}<br/>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button class="pull-left" type="button" class="btn btn-default">Guideline</button>
                                 <!-- <button class="pull-right" type="button" class="btn btn-primary" data-dismiss="modal">Logout</button> -->
                                 <a class=" btn pull-right" href="logout">Logout</a>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                     </div>
                     <!-- /.modal -->
                  </div>
                  <!-- code for notification and drop down -->
                  <div class = "dropdown pull-right" style="margin-top: 13px;">
                     <li class = "btn dropdown-toggle" id = "dropdownMenu1" data-toggle = "dropdown">
                        <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
                     </li>
                     <ul class = "dropdown-menu" role = "menu" aria-labelledby = "dropdownMenu1">
                        <li role = "presentation">
                           <a role = "menuitem" tabindex = "-1" href = "#">
                           You have no unread notification
                           </a>
                        </li>
                        <li role = "presentation" class = "divider"></li>
                        <li role = "presentation">
                           <a role = "menuitem" tabindex = "-1" href = "#">
                              <center>View All</center>
                           </a>
                        </li>
                     </ul>
                  </div>
               </ul>
            </div>
         </nav>
      </div>
      </div>
      <!-- main body -->
      <!-- karma section -->
      <div class="col-sm-7 col-md-7 col-lg-9">
         <div class="row">
         </div>
         <div class="col-sm-12">
            <div class="panel panel-default">
               <div class="panel-heading" id="recog-heading" >
                  <img class="recognizeKarmaIcon" src="
                  images/icon_badge.png"/>
                  
                  &nbsp;&nbsp;&nbsp;&nbsp;<b>What's on your mind</b>
               </div>
               <form action="karma" method="POST" th:object="karma">
                  <div class="panel-body" >
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="form-group">
                              <label for="reason" id="reasonlbl">Reason:</label>
                              <textarea class="form-control" rows="6" id="reason" path="message" placeholder="Please select a karma first....."></textarea>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-sm-12">
                           <input type="submit" value = "update"class="btn btn-primary recogbt"/>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <!-- end karma -->
            <!-- wall of fame -->
            <div class="panel panel-default">
               <div class="panel-heading" style="background: #8D9FC4;">
                  <div class="row">
                     <div class="col-lg-3" >
                        <i class="fa fa-list-alt fa-2x" aria-hidden="false"></i> &nbsp;<font color="white">WALL OF FAME</font>
                     </div>
                     <div class="col-lg-9">
                        <div class="row">
                           <form class="form" role="form">
                              <div class="col-lg-4">
                                
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control"/>
                                 </div>
                              </div>
                              <div class="col-lg-3">
                                 <select name="serviceLine" class="form-control" defaultLabel="Service Lines" id="serviceLine" >
                                    <option value="">Service Lines</option>
                                    <option value="2" >Analytics</option>
                                    <option value="12" >Analytics-SEA</option>
                                    <option value="9" >Digital Marketing</option>
                                    <option value="20" >Digital Marketing India</option>
                                    <option value="13" >Digital Marketing-SEA</option>
                                    <option value="1" >Technology</option>
                                    <option value="6" >ThoughtBuzz India</option>
                                    <option value="21" >TTN Overheads</option>
                                    <option value="23" >TTND-Intern</option>
                                    <option value="17" >TTND-SEA</option>
                                    <option value="22" >TTNV</option>
                                    <option value="19" >Video Solutions</option>
                                 </select>
                              </div>
                              <div class="col-lg-3" >
                                 <select name="practice" class="form-control" defaultLabel="Practices" >
                                    <option value="">Practices</option>
                                    <option value="6" >Admin</option>
                                    <option value="14" >AMC</option>
                                    <option value="63" >Analytics</option>
                                    <option value="46" >Analytics-SEA</option>
                                    <option value="20" >BigData</option>
                                    <option value="80" >BlogMint</option>
                                    <option value="70" >Business Development</option>
                                    <option value="37" >Creative</option>
                                    <option value="10" >Design</option>
                                    <option value="71" >DevOps</option>
                                 </select>
                              </div>
                              <div class="col-lg-2 ">
                                 <i class="fa fa-calendar fa-2x" width="30px" height="30px"></i>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel-body">
                  <div class="row" style="padding-top: 20px;">
                    
            
            
            <c:forEach  items="${recKarma}"  var="user">
            <div class="col-xs-12" >
            			<div class="col-xs-2 " style = "text-align: center;">
                        <img class="imager wallOfFamePost"
                        src="/images/myimage.jpg"/>
                        
                     </div>
			             <strong> ${user.getRecieverName()} </strong>has received ${user.getStar()} 
			             
			             from <strong> ${user.getSenderName()} </strong> for Karma ${user.getKarma()} <br/>
			                           Reason : ${user.getMessage()} <br/> 
			                           Date : <i>${user.getDate()}</i><hr>  
            
            </div>
            	
            </c:forEach>
                     
                  </div>
               </div>
            </div>
            <!-- end wall of fame -->
         </div>
      </div>
      <!-- side patch profile/ -->
      <div class="col-sm-5 col-md-5 col-lg-3 ">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading" id="badges-heading" style="background: #8D9FC4;" >
                  <img class="recognizeKarmaIcon" src="images/icon_badge.png"/>
                  &nbsp;&nbsp;&nbsp;&nbsp;<font color="white">My Friends</font>
               </div>
		<div class="panel-body">
				<div class="col-xs-5">
							<div class="badge-content"id="userBadgeDetail_1116">
										<div class="badgecontentleft">
											<img class="sideBatchPic profile-pic"
													src="images/myimage.jpg"/>
													">
										</div>
							</div>
				</div>
				<!-- <div class="col-lg-7 col-sm-9 col-md-7" height="20px"> -->
				<div class="col-xs-7">
									<!-- <div class="row center1">
									<a href="#">Mayank Agnihotri</a><br/>
									</div> -->
									<div class="row">
											<div class="row" style="height:30px">
											</div>
											<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> ${loggedInUser.getEmployeeName()} </b></a><br/>
									</div>
									<div class="row">
													<span>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="gold badge" src="
                                       <c:url value ="/resources/images/icon_gold_badge.png"/>
                                       ">
													</span>
													<span>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="silver badge" src="
                                       <c:url value ="/resources/images/icon_silver_badge.png"/>
                                       ">
													</span>
													<span>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="bronze badge" src="
                                       <c:url value ="/resources/images/icon_broze_badge.png"/>
                                       ">
													</span>
									</div>
									<!-- <div class="row center1">
													<img src="assets/icon_gold_badge.png">
													<img src="assets/icon_silver_badge.png">
													<img src="assets/icon_broze_badge.png">
									</div> -->
									<div class="row">
													<span>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${recievedBadges.getBadges().getGold()}</i>
													</span>
													<span>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${recievedBadges.getBadges().getSilver()}</i>
													</span>
													<span>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${recievedBadges.getBadges().getBronze()}</i>
													</span>
									</div>
				</div>
 </div>
 </div>
      <!-- list of badges -->
      <!-- <div class="container"> -->
      <%-- <div class="panel" style="height:630px;width:275px">
         <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#tab_a" data-toggle="tab">Newer Board</a></li>
            
         </ul>
         <div class="tab-content">
            <!-- gap-->													
            <div class="tab-pane active" id="tab_a">
              <!--  <div class="row" style="height:10px">
               </div> -->
               <!-- 1st -->	
            											
               <div class="row">

      <!-- open -->      <c:forEach  items="${newerBoard}"  var="user"> 	
              		<div class = "col-xs-5">
              		<!-- image of newer in this box -->
              		<img class="sideBatchPic profile-pic"
                        src="
                        <c:url value ="/resources/images/myimage.jpg"/>
                        ">
              		</div>
                  <div class="col-xs-7">
                     <div class="row">
                        <div class="row" style="height:30px">
                        </div>
                        <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${user.getName()}</a><br/>
                     </div>
                     <div class="row">
                        <span>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="gold badge" src="
                           <c:url value ="/resources/images/icon_gold_badge.png"/>
                           ">
                        </span>
                        <span>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="silver badge" src="
                           <c:url value ="/resources/images/icon_silver_badge.png"/>
                           ">
                        </span>
                        <span>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="bronze badge" src="
                           <c:url value ="/resources/images/icon_broze_badge.png"/>
                           ">
                        </span>
                     </div>
                     <!-- <div class="row center1">
                        <img src="assets/icon_gold_badge.png">
                        <img src="assets/icon_silver_badge.png">
                        <img src="assets/icon_broze_badge.png">
                        </div> -->
                     <div class="row">
                        <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${user.getBadges().getGold() }</i>
                        </span>
                        <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${user.getBadges().getSilver() }</i>
                        </span>
                        <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${user.getBadges().getBronze() }</i>
                        </span>
                     </div>
                  </div>
                  <!-- close -->      </c:forEach>
          
               </div>
         																
               <div class="row" style="height:20px">
               </div>
               <div class="row pull-right">
                  <div class="col-sm-12">
                     <a href="">view all</a>
                  </div>
               </div>
            </div>
             --%>
             
             
             
             
             	<div class="row">
							<div class="panel" style="height:725px;">
													<ul class="nav nav-tabs nav-justified">
													<li class="active"><a href="#tab_a" data-toggle="tab">Newer Board</a></li>
													<li><a href="#tab_b" data-toggle="tab">Ideas</a></li>

													</ul>
									<div class="tab-content">
<!-- gap-->													<div class="tab-pane active" id="tab_a">
															<div class="row" style="height:10px">
															</div>
<!-- 1st --><div class="row">
	<c:forEach  items="${newerBoard}"  var="user">
<div class="panel-body">
		<div class="col-xs-4">
					<div class="badge-content"id="userBadgeDetail_1116">
								<div class="badgecontentleft">
									<img class="sideBatchPic profile-pic"
										src="/images/myimage.jpg"/>
										">
								</div>
					</div>
		</div>
		<!-- <div class="col-lg-7 col-sm-9 col-md-7" height="20px"> -->
		<div class="col-xs-7">
							<!-- <div class="row center1">
							<a href="#">Mayank Agnihotri</a><br/>
							</div> -->
							<div class="row">
									<div class="row" style="height:30px">
									</div>
									<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${user.getName()}</a><br/>
							</div>
							<div class="row">
								<span>
										 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="gold badge" src="images/icon_gold_badge.png">
										 
									</span>
									<span>
										 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="silver badge" src="/images/icon_silver_badge.png"/>
										 
									</span>
									<span>
										 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="bronze badge" src="/images/icon_broze_badge.png"/>
										 
									</span>
							</div>
							<div class="row">
								<span>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${user.getBadges().getGold() }</i>
									</span>
									<span>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${user.getBadges().getSilver() }</i>
									</span>
									<span>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>${user.getBadges().getBronze() }</i>
									</span>
							</div>
		</div>
</div>
							</c:forEach>
</div>
																				<div class="row pull-right">
																									<div class="col-xs-12">
																					          <a href="">view all</a>
																					        </div>
																					</div>
														</div>
														

								 </div>
</div>
</div>
</div>
             
   </body>
</html>